body{
    font-family: Arial;
    text-align:center;
    background:#fafafa;
}

nav a{
    margin:10px;
    font-weight:bold;
}

img{
    margin:10px;
}

.product{
    margin:20px;
}
.category{
    margin:20px;
    font-size:22px;
    font-weight:bold;
}
.note{
    font-weight:bold;
    margin-top:30px;
}


